.dialog__header {
    box-shadow: 0px 2px 5px 1px #d4d3d3;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 50px;
    max-height: 50px;
    background-color: #fff;
}


.dialog__header > * {
    margin: 1%;
    display: inline;
}