.message__wrapper {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message__container {
    display: flex;
    flex-flow: column nowrap; 
    align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 50px;

    min-height: 100%;
    padding-bottom: 50px;
}

/*hide scrollbar*/
.message__wrapper::-webkit-scrollbar { width: 0; }
.message__wrapper { -ms-overflow-style: none; }
.message__wrapper { overflow: -moz-scrollbars-none; }

.message__container .sendedMessage .message_text, .message__container .receivedMessage .message_text {
    padding: 10px;
    border-radius: 5px;
    max-width: 65vw;
}

.message__container .sendedMessage > div, .message__container .receivedMessage > div {
    word-wrap: break-word;
}

.message__container .sendedMessage {
    right: 0px;
    align-self: flex-end;
    margin: 5px 15px 5px 45px;
    position: relative;
}

.message__container .sendedMessage .message_text {
    background-color: #F3F3F3;

}

.message__container .receivedMessage {
    left: 0px;
    margin: 5px 45px 5px 15px;
    position: relative;

}

.message__container .receivedMessage .message_text {
    background-color: rgb(5, 247, 255);

}

.not_readed__wrapper {
    color: rgb(5, 197, 204);
    position: absolute;
    height: 100%;
}

.receivedMessage .not_readed__wrapper {
    left: 105%;
}

.sendedMessage .not_readed__wrapper {
    right: 105%;
}

.not_readed {
    margin-top: 100%;
}

@media screen and (max-width: 768px) {
    .message__container .sendedMessage {
        margin: 2px 10px 2px 45px;
    }
    
    .message__container .receivedMessage {
        margin: 2px 45px 2px 10px;
    }
}