

h4 {
    font-size: 1.2em !important;
}

small {
    font-size: 0.7em;
}

.settings__subcontainer {
    border: 1px solid rgb(199, 199, 199);
    padding: 45px 5% !important;
}

.list__element:first-child {
    border-top: none !important;
}

.list__element {
    background-color: transparent !important;
    border-bottom: none !important;
}

.invalid__feedback {
    font-size: 0.8em;
    color: rgb(255, 5, 5);
}

.loader__wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loader__wrapper .spinner-border {
    width: 100px;
    height: 100px;
}

.file__loader > div {
    width: 90px;
    height: 90px;
}

.modal_container {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
}

.modal_container > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal_container > div .list {
    max-height: 65vh;
    overflow: auto;
}

.modal_container:before {
    content: ' ';
    opacity: 0.65;
    background-color: #000;
    position: absolute;
    width: 100vw; height: 100vh;
    top: 0; left: 0;
}

.emoji-sizer {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-size: cover;
}

.emoji-picker {
    width: 100%;
}

.md-form input[type=text] {
    border-bottom: 1px solid #85898d;
}