.main__content {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100%;
    position: relative;

    overflow-y: auto;
    background-image: url('/img/background/background.jpg');
    background-size: cover;
}
.app_wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.app_wrapper > .loader__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}