.settings__container {
    padding-bottom: 35px;
}

.nav__tab, .active__nav__tab {

    margin-top: 20px;

    display: inline-block;
    color: white;
    padding: 15px;
    
}

.nav__tab {
    background-color: rgb(151, 200, 228);

}

.active__nav__tab {
    background-color: rgb(9, 154, 238);
    border-top: 2px rgb(17, 247, 94) solid;
    padding-top: 13px;
}