.sidebar {
    padding: 2% 0px;
    background-color: rgb(9, 154, 238);
    min-width: 350px !important;
    display: flex;
    flex-direction: column;
    color:#fff;
    height: 100vh;
    overflow: auto;
    z-index: 1000;
    position: relative;
    box-sizing:border-box;
}

.sidebar #avatar {
    width: 100px;
    border-radius: 50%;
}

/*hide scrollbar*/
.sidebar::-webkit-scrollbar { width: 0; }
.sidebar { -ms-overflow-style: none; }
.sidebar { overflow: -moz-scrollbars-none; }

.nav__wrapper {
    position: relative;
}

.bg {
    opacity: 0;
    transition: opacity 550ms;
}

.sidebar * {
    color:#fff !important;
}

.sidebar #name {
    font-size: 2em;
}

.user__info > * {
    width: 150px;
    text-align: center;
}

.sidebar .list__element {
    font-size: 0.8em;
    transition: 500ms;
}

.sidebar .list__element:hover {
    background-color: rgb(4, 140, 219) !important;
}

.sidebar .list__element.active {
    background-color: rgb(4, 140, 219) !important;
}

.sidebar .btn {
    width: 100%;
    margin: 0;
    background-color: transparent;
    text-align: left;
}

.sidebar .channels_title > small:last-child {
    display: none;
}

.sidebar .channels_title:hover > small:last-child {
    display: inline;
}

@media screen and (max-width: 768px) {
    .sidebar {
        position: absolute;
        left: -350px;
        transition: left 850ms;
    }

    .sidebar.opened {
        left: 0px;
    }

    .bg.opened {
        display: block;
        opacity: 0.65;
        background-color: #000;
        position: absolute;
        z-index: 999;
        top: 0; left: 0;
        width: 100vw;
        height: 100vh;
    }

    .btn.btn-link.collapse__sidebar {
        color: #fff !important;
        font-size: 2em !important;
        flex-basis: auto;
        align-self: flex-end;
    }
}