.channel_container {
    display: flex;
    flex-flow: column nowrap; 
    align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 50px;

    min-height: 100%;
    padding-bottom: 50px;
}

.textMessageContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.channel_container .sendedMessage .message_text, .channel_container .receivedMessage .message_text {
    padding: 0.5vw;
    border-radius: 5px;
    max-width: 65.5vw !important;
    display: inline-block;
    word-wrap: break-word;
}

.channel_container .sendedMessage {
    right: 0px;
    align-self: flex-end;
    margin: 0px 15px 0px 45px;
    text-align: left;
}

.channel_container .receivedMessage {
    left: 0px;
    margin: 0px 45px 0px 15px; 
       
} 

.channel_container .sendedMessage .message_text {
    background-color: #F3F3F3;

}

.channel_container .receivedMessage .message_text {
    background-color: rgb(5, 247, 255);
}

.receivedMessage .avatar {
    margin-right: 10px;
    vertical-align: top;
}

.channel_container .receivedMessage .display_name, .channel_container .receivedMessage .time {
    margin-left: 44px;
}

.time {
    color: rgb(156, 156, 156);
}

.sendedMessage .time {
    text-align: right;
}

.message__images {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: -0.5vw;
}

.message__images img {
    width: 12.5vw;
    margin-left: 0.5vw;
    margin-top: 5px;
}

@media screen and (max-width: 1190px) {
    .message__images img {
        width: 49%;
        margin-left: 1%;
    }
}


@media screen and (max-width: 800px) {

    .channel_container .sendedMessage {
        margin: 0px 10px 0px 45px;
    }
    
    .channel_container .receivedMessage {
        left: 0px;
        margin: 0px 45px 0px 10px;    
    } 

    .time {
        display: none;
    }
    
    .message__images img {
        width: 100%;
        margin-left: 0;
    }
}