.attachment {
    width: 4%;
    margin-left: 20px;
    margin-bottom: 15px;
    position: relative;
}

.attachment button {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);

    border-style: none;
    border-radius: 13px !important;
    width: 26px; height: 26px !important;
    padding: 0; margin: 0;
}

.status_symbol {
    font-size: 3em;
    text-align: center;
}

.status_symbol.success {
    color: #00ff00;
}

.status_symbol.failure {
    color: #ff0000d2;
}

.attachment .filename {
    font-size: 0.8em;
}

@media screen and (max-width: 1000px) {
    .status_symbol {
        font-size: 2em;
    }
}