.attachment-dz {
    width: 100%;
    min-height: 150px;
    background-color: #eee;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    position: relative;
}

.attachment-dz .attachment {
    width: 50px;
    margin-top: 20px;
}

.attachment-dz > .caption {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}