.new__message__form {

    box-shadow: 0px 0px 15px 5px #d4d3d3;
    padding-left: 1%;
    background-color: #fff;
    z-index: 1;
    position: relative;
}

.form_button .spinner-border {
    width: 0.95em;
    height: 0.95em;
}

.form__wrapper {
    display: flex;
    flex-flow: row wrap;
}

.form__wrapper > * {
    margin-right: 25px;
}

.form__wrapper > *:first-child {
    flex-grow: 1;
}

.form_button {
    text-align: center;
    padding-top: 25px;
    font-size: 2.5em;
}

.attachments_list {
    display: flex;
    flex-flow: row wrap;
    margin-top: 8px;
}

.emoji_picker {
    position: absolute;
    width: 40%;
    bottom: 70%;
    right: 0;
}

@media screen and (max-width: 1000px) {
    .form_button {
        font-size: 2em;
        padding-top: 15px;
    }

    .form__wrapper > *:first-child {
        margin-top: 15px;
        margin-bottom: 0px;
    }

    .status_symbol {
        font-size: 2em;
    }

    .emoji_picker {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {

    .md-form {
        margin-right: 2%;
    }

    .md-form > * {
        margin: 2px !important;
    }

    .form__wrapper > *:first-child > .fa {
        display: none;
    }

    .form_button {
        font-size: 1.8em;
        margin-right: 2%;
    }

}