.modal_container.dialog_lightbox__container > div {
    position: absolute;

    width: 100vw; height: 100vh;
    color: white;
}

.dialog_lightbox__button {
    display: inline-block;
    font-size: 4em;
    position: absolute;
    padding: 10px 10px;

    cursor: pointer;
}

.dialog_lightbox__button:hover {
    color: #fff !important;
}

.dialog_lightbox__button.close_btn {
    font-size: 3em;
    right: 0; top: 0;
}

.dialog_lightbox__button.left_btn, .dialog_lightbox__button.right_btn {
    top: 50%;
    transform: translateY(-50%);
}

.dialog_lightbox__button.left_btn {
    left: 0; 
}

.dialog_lightbox__button.right_btn {
    right: 0; 
}

.dialog_lightbox img {
    margin-left: 50%;
    margin-top: 50vh;

    max-width: 80%;
    max-height: 80%;

    transform: translate(-50%, -50%);
}

.dialog_lightbox__button.disabled {
    pointer-events: auto !important;
    color: rgb(80, 80, 80) !important;
}